.spinner-container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  margin-top: 65px;
}
.spinner:before,
.spinner:after {
  content: "";
  flex: 1;
  margin: 0 0 0 -2px;
  --c:no-repeat linear-gradient(#046D8B 0 0);
  background:
    var(--c) 0    0,
    var(--c) 100% 0,
    var(--c) 100% 100%,
    var(--c) 0    100%,
    var(--c) 0    50%;
  animation: l17 1s infinite alternate;
}
.spinner:before {
  transform: scale(-1);
  margin:0 -2px 0 0;
}
@keyframes l17 {
  0%,
  5%   {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px}
  20%  {background-size: 100% 4px,4px 0   ,0    4px,4px 0   ,0    4px}
  40%  {background-size: 100% 4px,4px 100%,0    4px,4px 0   ,0    4px}
  60%  {background-size: 100% 4px,4px 100%,100% 4px,4px 0   ,0    4px}
  80%  {background-size: 100% 4px,4px 100%,100% 4px,4px 50% ,0    4px}
  95%,
  100% {background-size: 100% 4px,4px 100%,100% 4px,4px 50% ,100% 4px}
}
